body {
    position: absolute;
    left: 0%;
    text-align: center;
}

.container {
    justify-content: center;
    align-items: center;
    display: inline-block;
    text-align: center;
    padding-left: 30px;
}

h1 {
    font-size: 45px;
    color: black;
    text-align: center;
    padding-left: 12%;
}

h2 {
    color: black;
    margin: 0 98px;
    font-size: 30px;
}
button {
    text-decoration: none;
    border-radius: 12px;
    width: 100px;
    height: 30px;
    color: black;
    outline: none;
    font-size: 15px;
    font-weight: 50px;
    border-color: white;
    margin-top: 30px;
    
}

button:hover {
    background-color: darkgray;
    border-color: cyan;
    color: darkgoldenrod;
}